:root {
    --square-height: 100px;
    --square-width: 100px;
}

.title {
    color: red;
    font-size: 45px;
    padding: 0;
    margin: 0;
}

.paragraph {
    color: blue;
    font-size: 20px;
    margin: 0;
    
}

.container {
    width: 97%;
    height: 700px;
    border: 1px solid black;
    display: flex;
    flex-flow: wrap;
}

.green {
    width: var(--square-width);
    height: var(--square-height);
    margin: 1rem;
    background-color: green;
    order: -1
}

.blue {
    width: var(--square-width);
    height: var(--square-height);
    margin: 1rem;
    background-color: blue;
}

.red {
    width: var(--square-width);
    height: var(--square-height);
    margin: 1rem;
    background-color: red;
}

.yellow {
    width: var(--square-width);
    height: var(--square-height);
    margin: 1rem;
    background-color: yellow;
}
